
<link rel="stylesheet" href="stylesheets/style.css" />
<div class="navbar navbar-default navbar-fixed-top header-height">
  <div class="container-fluid">
     <div class="navbar-header">
       <a class="navbar-brand header-text">
         <span class="glyphicon glyphicon-align-justify"></span>
       </a>
     </div>
     <ul class="nav navbar-nav">
       <li><img class="logo" src="img/sopra-hr.png"></li>
     </ul>
     <ul class="nav navbar-nav navbar-right">
       <li>
         <a class="header-text">
            <span class="glyphicon glyphicon-search"></span>
          </a>
       </li>

       <li><a class="header-text">
         <div class="user-details">
          <p class="user-details-p">  Ronaldo Perez </p>
          <p class="user-details-p"> Manager </p>
         </div>
        </a></li>
       <li><a><img class="user-logo" src="img/user.svg"></a></li>
     </ul>
   </div>
</div>

