<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Recherche</title>
      <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/styleRecherche.css" type="text/css" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

      <style>
          body    { padding-top:50px; }
      </style>
    </head>

    <body id="main-container" class="container-fluid">

        <header>
          <% include header %>
        </header>

        <div id="moitieDroite">
            <div id="partieRecherche">
                <div id="formulaireRecherche">
                    <h3 id="titre">Rechercher une personne</h3>
                    <form id="rechercher" method="get" action="/recherche/results">
                        <p>
                            <input type="text" name="nom" id="nom" placeholder="Nom"/>
                            <br/>
                            <br/>
                            <input type="text" name="prenom" id="prenom" placeholder="Prénom"/>
                            <br/>
                            <br/>
                            <input type="text" name="job" id="job" placeholder="Profession"/>
                        </p>
                    </form>
                    <form method="post" action="/recherche/addKeyWord">
                        <input type="text" name="newKW" id="newKW" placeholder="Ajouter un mot-clé"/>
                        <input id="addKW" type="submit" value="+"/>
                    </form>
                </div> 

                <div id="KeyWordsList">
                    <h4>Mots-clé :</h4>
                    <ul id="divListe">
                    <% keywords.forEach(function(kw, index) { %>
                        <li id="liste"><a id="supprKW" href="/recherche/supprKeyWord<%= index %>"><img src='https://cdn1.iconfinder.com/data/icons/everyday-2/64/x_cross_delete_stop-512.png'  style="width:16px; height:16px;" /></a> <%= kw %></li>
                    <% }); %>
                    </ul>
                </div>

                <div id="divBoutonRecherche">
                    <button id="boutonRecherche" type="submit" form_id="rechercher">Lancer la recherche</button>
                </div>
            </div>
    
            <div id="resultatsRecherche">
                
            </div>
    </div>
        
    <div id="moitieGauche">
        <div id="divOrganigramme">
            <p>Organigramme :
                <select id="selectOrganigramme">

                </select>
            </p>
        </div>
    </div>
        
    </body>
</html>