<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Recherche</title>
      <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/styleRecherche.css" type="text/css" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

      <style>
          body    { padding-top:50px; }
      </style>
    </head>

    <body id="main-container" class="container-fluid">

        <header>
          <% include header %>
        </header>

        <div id="moitieDroite" class="col-md-6">
            
            <div id="partieRecherche" class="col-md-12">

                <h3 id="titre">Rechercher une personne</h3>

                <div id="formulaireRecherche" class="col-md-5">

                    <form id="rechercher" method="post" action="/recherche/results">
                        <p>
                            <input type="text" name="nom" id="nom" placeholder="Nom"/>
                            <br/>
                            <br/>
                            <input type="text" name="prenom" id="prenom" placeholder="Prénom"/>
                            <br/>
                            <br/>
                            <input type="text" name="job" id="job" placeholder="Profession"/>
                        </p>
                    </form>

                    <form method="post" action="/recherche/addKeyWord">
                        <input type="text" name="newKW" id="newKW" placeholder="Ajouter un mot-clé"/>
                        <input id="addKW" type="submit" value="+"/>
                    </form>
                                 

                </div> 

                <div id="divListe" class="col-md-4">
                    <h5>Mots-clé :</h5>
                    <ul id="KWlist" class="list-unstyled">
                    <% keywords.forEach(function(kw, index) { %>
                        <li id="liste"><a id="supprKW" href="/recherche/supprKeyWord<%= index %>"><img src='https://cdn1.iconfinder.com/data/icons/everyday-2/64/x_cross_delete_stop-512.png'  style="width:16px; height:16px;" /></a> <span><%= kw %></span></li>
                    <% }); %>
                    </ul>
                    
                </div>

                <button id="boutonRecherche" onclick="results();">Lancer la recherche</button>

            </div>
            
            <div id="resultatsRecherche" class="col-md-12">
                
            </div>
            
        </div>

        <div id="moitieGauche" class="col-md-6">
            <div id="divSelect">
                <form name = "f">
                    Organigramme :
                    	<div class='orga' id='monEquipe' onclick="orga('equipe', this, document.getElementById('entreprise'));">Mon équipe</div>
                    	<div class='orga' id='entreprise' onclick="orga('entreprise', this, document.getElementById('monEquipe'));">Entreprise</div>
                   <!--     <select id="selectOrganigramme" name="selectOrga" onchange="orga();">
                            <option value = "equipe" selected>Mon équipe</option>
                            <option value = "entreprise">Entreprise</option>
                        </select>  -->
                </form>
                
            </div>
            
            <div id="divOrga">
                <img id = "imgOrga" src = "img/orga/equipe.png">
            </div>
        </div>

        <footer>
            <p class="text-center text-muted">© Copyright 2018 Projet NF28 - UTC</p>
        </footer>
        <script src="/scripts/scriptRecherche.js"></script>
    </body>
</html>