<link rel="stylesheet" href="stylesheets/styleResultatRecherche.css" />
<div id="divPersonne" class="col-md-12">
    
    <div id="Profil" class="col-md-4">
    Profil
    </div>
    
    <div id="Compétences" class="col-md-3">
    <b>Compétences</b>
    </div>
    
    <div id="Langues" class="col-md-5">
    <b>Langues</b>
    </div>
    
</div>