 <nav id="sidebar">

     <div class="container-fluid col-md-12 sidebar-block">
        <ul class="list-without-bullet">
            <li class="option-space"><img class="option-logo" src="img/palmier.png"><b> &nbsp;Mes congés</b>  </li>
            <li class="option-space"><img class="option-logo" src="img/maison.png"><b> &nbsp;Mon déménagement </b> </li>
            <li class="option-space"><img class="option-logo" src="img/idee.png"> <b> &nbsp;Ma nouvelle expérience</b> </li>
            <li class="option-space"><img class="option-logo" src="img/docteur.png"> <b> &nbsp;Arrêt de travail</b> </li>
        </ul>
     </div>
     <div style='font-size:normal' class="container-fluid col-md-12 sidebar-block">
     	<script>var w = document.getElementById('sidebar').offsetWidth;</script>
        <% include widgetProject %>
     </div>
     <div class="container-fluid col-md-12 sidebar-block">
         Code hierarchie ici
     </div>

 </nav>

 <!-- old code


 <div class="sidebar-header">
     <h3>Collapsible Sidebar
 </div>


 <ul class="list-unstyled components">
     <li class="active"><a href="#">Home</a></li>
     <li><a href="#">About</a></li>
     <li>
         <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
         <ul class="collapse list-unstyled" id="homeSubmenu">
             <li><a href="#">Page</a></li>
             <li><a href="#">Page</a></li>
             <li><a href="#">Page</a></li>
         </ul>
     <li><a href="#">Portfolio</a></li>
     <li><a href="#">Contact</a></li>
 </ul>
 <div id="content">
     <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
         <i class="glyphicon glyphicon-align-left"></i>
         Toggle Sidebar
     </button>
 </div>

 -->


