<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/stylesheets/styleWidgetProject.css" type="text/css" />
	</head>
	<body>
		<div id="widgetProject">
			<div id="nameWidgetProject">Mes projets</div>
			<div id="arrayOfProjects">
				<div onclick="javascript:location.href='newProject'" id="addNewProject"></div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
		<script src="/scripts/scriptWidgetProject.js"></script>
	</body>
</html>