body {
  padding: 50px;
}

a {
  color: #00B7FF;
}

.header-height{
  height:50px;
}

.logo{
  height: 50px;
  width: auto;
}

.user-logo{
  height: 30px;
  width: auto;
}

.header-text{
  color:black !important ;
}

.user-details{
  margin : 0px 0px 0px 0px !important;
  line-height: 14px !important;
  font-size: 12px;
}

.user-details-p{
  margin : 0px 0px 0px 0px !important;
  font-size: 11px;
}

.wrapper {
  display: flex;
}

#sidebar {
  height: 100vh;
}

#main-content{
  padding: 0px 0px 0px 0px;
  position: relative;
  text-align: center;
  color: white;
}

#main-container{
  overflow-y: hidden;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

#sidebar-container{
  background-color: #E1E1E1;
}

.sidebar-block{
  padding: 0px;
}

.list-without-bullet{
  list-style-type: none;
  padding: 0px;
}

.option-space{
  margin: 10px;
}

.option-icon{
  height: 40px;
  width: auto;
}

.centerImage {
  overflow: hidden;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 30px;
  font-size: 20px;
  color: white;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  top: 630px;
  right: 16px;
  font-size: 20px;
  color: grey;
}

/* Centered text */
.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#welcome-text{
  font-size: 25px;
}

#whiteboard{
  position : absolute;
  background-color : whitesmoke;
  overflow:hidden;
  height : 0;
  transition : height 0.5s;
  transition-timing-function : ease-in;
}

#plusButton {
  position: absolute;
  top: 30%;
  left: 95%;
  transform: translate(-50%, -50%);
}

#plus{
  height: 40px;
  width: auto;
  display: none;
}

.publication-option{
  height: 75px;
}

.publication-choice:hover{
  background-color: cadetblue;
}

#publications{
}

/* Drag and drop */
aside {
  position:  absolute;
  left: 0;
  top: 0; /* set these so Chrome doesn't return 'auto' from getComputedStyle */
  width: 200px;
  background: rgba(255,255,255,0.66);
  border: 2px  solid rgba(0,0,0,0.5);
  border-radius: 4px; padding: 8px;
}
