body {
  padding: 50px;
}

a {
  color: #00B7FF;
}

.header-height{
  height:50px;
}

.logo{
  height: 50px;
  width: auto;
}

.user-logo{
  height: 25px;
  width: auto;
}

.header-text{
  color:black !important ;
}

.user-details{
  margin : 0px 0px 0px 0px !important;
  line-height: 14px !important;
  font-size: 12px;
}

.user-details-p{
  margin : 0px 0px 0px 0px !important;
}

.wrapper {
  display: flex;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
}

#main-content{
  padding: 0px 0px 0px 0px;
}

#main-container{
  padding-right: 0px;
  margin-right: 0px;
}