#moitieDroite
{
    float:right;
}

#partieRecherche
{
    background-color:lightgrey;
    color:black;
    position:relative;
    height: 230px;
}

#formulaireRecherche
{
    float:left;
    position: inherit;
}

#divListe
{
    float:left;
    position: relative;
    left: -50px;
    top: -5px;
}

#addKW
{
    background-color:lightblue;
    color:black;
    border-style:solid;
    border-color:cornflowerblue;
}

#liste
{
    list-style-type:none;
}

#KWlist
{
    position: inherit;
}

#boutonRecherche
{
    position: inherit;
    top: 140px;
    left: 10px;
}

#resultatsRecherche
{
    background-color: whitesmoke;
    overflow: scroll;
    height: 400px;
}

#divPersonne
{
    top: 15px;
    border-style: solid;
    border-color: cornflowerblue;
    background-color: white;
}

#moitieGauche
{
    background-color: white;
    float:left;
}

#selectOrganigramme
{
    width: 150px;
}



