#moitieDroite
{
    float:right;
    font-family: arial;
}

#partieRecherche
{
    background-color:#E1E1E1;
    color:#41484E;
    position:relative;
    height: 230px;
}

#formulaireRecherche
{
    float:left;
    position: inherit;
}

#divListe
{
    float:left;
    position: relative;
    padding-left: -50px;
    padding-top: -5px;
}

#addKW
{
    background-color:#C0C0C0;
	color:#41484E;
    border: none;
	transition : all 0.3s;
	cursor : default;
}

#addKW:hover {
	background-color : #8B949E;
	color : white;
}

#liste
{
    list-style-type:none;
}

#KWlist
{
    position: inherit;
}

#boutonRecherche
{
    position: inherit;
    top: 140px;
    padding-left: 10px;
}

#resultatsRecherche
{
    background-color: whitesmoke;
    overflow: scroll;
    height: 400px;
}

#divPersonne
{
    top: 15px;
    border: none;
    background-color: white;
    margin-bottom: 15px;
	color:#41484E;

}

#Profil 
{
    padding-top: 10px;
}

#Compétences
{
    padding-top: 10px;
}

#Langues
{
    padding-top: 10px;
}

#buttons
{
    padding-bottom : 2px;
    padding-left : 25px;
}

#sendMsg
{
    font-size: smaller;
    background-color:lightblue;
    color:black;
    border-style:solid;
    border-color:cornflowerblue;
    position: relative;
    float: right;
}

#addToProject
{
    font-size: smaller;
    background-color:lightblue;
    color:black;
    border-style:solid;
    border-color:cornflowerblue;
    position: relative;
    float: right;
    right : 5px;
}

#moitieGauche
{
    background-color: white;
    float:left;
    height : 630px;
}

#selectOrganigramme
{
    width: 150px;
}

#imgOrga
{
    width: 100%;
}

input[type="text"] {
	border : none;
	padding : 0.2em 0.4em;
}

#boutonRecherche, #buttons button
{
    background-color:#C0C0C0;
	color:#41484E;
    border: none;
	transition : all 0.3s;
	cursor : default;
}
#boutonRecherche {
	margin-top : -1em;
}

#boutonRecherche:hover, #buttons button:hover {
	background-color : #8B949E;
	color : white;
}

form[action="/recherche/addKeyWord"] {
	margin-top : 1.5em;
}

#buttons button {
	margin-bottom : 1.5em;
	padding : 0.5em 2em;
}
#divSelect {
	margin : 2em 0 0 1em;
}
form[name='f'] {
	color:#41484E;
	margin-bottom : 2em;
}
.orga {
	display : inline-block;
	padding : 0.4em 1em;
	margin-left : 1em;
	cursor : default;
}
#monEquipe {
	background-color : #8B949E;
	color : white;
	transition : all 0.2s;
}
#entreprise {
	background-color : #C0C0C0;
	transition : all 0.2s;
}