#moitieDroite
{
    float:right;
    font-family: "Helvetica";
}

#partieRecherche
{
    background-color:lightgrey;
    color:black;
    position:relative;
    height: 230px;
}

#formulaireRecherche
{
    float:left;
    position: inherit;
}

#divListe
{
    float:left;
    position: relative;
    left: -50px;
    top: -5px;
}

#addKW
{
    background-color:lightblue;
    color:black;
    border-style:solid;
    border-color:cornflowerblue;
}

#liste
{
    list-style-type:none;
}

#KWlist
{
    position: inherit;
}

#boutonRecherche
{
    position: inherit;
    top: 140px;
    left: 10px;
}

#resultatsRecherche
{
    background-color: whitesmoke;
    overflow: scroll;
    height: 400px;
}

#divPersonne
{
    top: 15px;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: thick;
    background-color: white;
}

#Profil 
{
    top: 10px;
}

#Compétences
{
    top: 10px;
}

#Langues
{
    top: 10px;
}

#buttons
{
    bottom : 2px;
    left : 25px;
}

#sendMsg
{
    font-size: smaller;
    background-color:lightblue;
    color:black;
    border-style:solid;
    border-color:cornflowerblue;
    position: relative;
    float: right;
}

#addToProject
{
    font-size: smaller;
    background-color:lightblue;
    color:black;
    border-style:solid;
    border-color:cornflowerblue;
    position: relative;
    float: right;
    right : 5px;
}

#moitieGauche
{
    background-color: white;
    float:left;
    height : 630px;
}

#selectOrganigramme
{
    width: 150px;
}



